body{
    font-family: 'Poppins', sans-serif;
    color: rgb(4, 4, 65);
    margin: 0px;
}
h1{
    font-family: 'Fira Sans', sans-serif;
    font-size: 50px;
    font-weight: 900;
}
.orange-color{
    color: tomato;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
h4{
    font-size: 20px;
}
p{
    font-size: 15px;
    color: dimgray;
    font-weight: 700;
    padding-bottom: 20px;
}
.half-part{
    width: 38%;
    margin-left: 7%;
    margin-top: 50px;
    padding: 10px 10px;
    float: left;
    height: 400px;
}
.half-part img{
    width: 100%;
    height: 400px;
}
.down-banner{
    background-image: url(images/down-banner.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 100px 15% 0px 15%;
    height: 200px;
}
.main{
    padding-left: 20px;
}
.second-img{
    padding-right: -20px;
}
section{
    height: 500px;
    padding-bottom: 120px;
}
a{
    text-decoration: none;
}
.hire-me{
    background-image: linear-gradient(tomato, orange);
    padding: 20px 50px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}
.dwn-cv{
    background-image: linear-gradient(orange, tomato);
    padding: 20px 50px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}
.box-part{
    width: 29.5%;
    margin-top: 40px;
    margin-left: 1.2%;
    margin-right: 1%;
    padding: 10px 10px;
    float: left;
}
.three-part{
    box-shadow: 5px 5px 20px gray;
    border-radius: 5px;
    height: 100%;
    background-color: white;
}
.three-part img{
    width: 100%;
    position: relative;
    padding-top: 5px;
}
.extra-part{
    background-color: whitesmoke;
}
.three-partBG{
    background-color: whitesmoke;
    padding-top: 5px;
}
.work{
    text-align: left;
    padding-top: 35px;
    padding-left: 100px;
    color: white;
}
.chat{
    text-align: right;
    margin-top: -70px;
    padding-right: 60px;
}

.last-text{
    color: gray;
    text-align: center;
}
.mail-txt{
    font-family: 'Anton', sans-serif;;
    font-weight: 800;
    text-align: center;
}
.footer-icn{
    position: relative;
    padding: 0px 20px;
}
#latestWP{
    text-align: center;
}
.list-item{
    color: blue;
    font-weight: 700;
    font-size: 30px;
    list-style: none;
}
#love{
    list-style: none;
    margin-top: 5px;
}
.extra{
    text-align: center;
}
#extra-icn{
    margin-top: -100px ;
}
.bottom-section{
    text-align: center;
    height: 100px;
}
.bottom-section img{
    height: 50px;
    width: 40px;
    margin-left: 10px;
}
footer{
    text-align: right;
}